.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background: white;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
}

.card-header h4 {
  margin: 0 0 6px 0;
  color: #333;
  font-weight: bold;
  line-height: 1.4;
}

.card-header h2 {
  margin: 0 0 6px 0;
  color: #333;
  font-weight: bold;
  line-height: 1.4;
}

.card-header h3 {
  margin: 0 0 0px 0;
  color: #333;
  font-weight: bold;
  line-height: 1.4;
}

.card-content p {
  margin: 0;
  color: #666;
  line-height: 1.5;
}

.card-footer {
  margin-top: 16px;
  padding-top: 12px;
  border-top: 1px solid #f0f0f0;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.12);
} */