.container-background {
    background: linear-gradient(
        90deg,
        rgb(254, 0, 0) 40%,
        rgba(41, 22, 22, 0.952) 100%
    );
    border-radius: 8px;
}

.control-panel-background-container {
    background: linear-gradient(
        90deg,
        rgb(254, 0, 0) 40%,
        rgba(41, 22, 22, 0.952) 100%
    );
    border-radius: 8px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 10px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    flex-direction: column;
}

/* .content-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: calc(100vh - 180px);
  background: none;
} */

.title-container span {
    padding-bottom: 6px;
    padding-top: 8px;
    font-size: 20px;
    font-weight: bold;
}

.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.empty-icon {
    font-size: 64px;
    margin-bottom: 20px;
    user-select: none; /* Запрещает выделение текста */
}

.empty-state h3 {
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    user-select: none; /* Запрещает выделение текста */
}

.empty-state p {
    margin: 0;
    opacity: 0.8;
    user-select: none; /* Запрещает выделение текста */
}